<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>
  <body>
    <div class="section">
    JavaScript es el lenguaje de programación que debes usar para añadir características 
    interactivas a tu sitio web, (por ejemplo, juegos, eventos que ocurren cuando los 
    botones son presionados o los datos son introducidos en los formularios, efectos de 
    estilo dinámicos, animación, y mucho más).
    </div>
  </body>
</html>
