.titulo {
  font-size: 35px;
	color: #eeeeee;
	background-color: #6aa84f;
	font-family: 'Broadway';
  align-items: center;
  justify-content: center;
  display: flex;
}

.navbar {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    border: 1px solid #16537e;
    margin: 5px;
    border-radius: 5px;
    color: #000000;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2986cc;
}

.item:hover{
    cursor: pointer;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000051;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 5em;
}