
<div class="navbar">
    <app-opcion [title]="titleOptions['opcion1']" (click)="change(opciones.opcion1)"></app-opcion>
    <app-opcion [title]="titleOptions['opcion2']" (click)="change(opciones.opcion2)"></app-opcion>
    <app-opcion [title]="titleOptions['opcion3']" (click)="change(opciones.opcion3)"></app-opcion>
</div>
<div class="container">
  <app-close align="center" *ngIf="show !== opciones.nopcion"
    (click)="cerrar($event)">
  </app-close>
    <app-panel-HTML *ngIf="opciones.opcion1 === show"></app-panel-HTML>
    <app-panel-CSS *ngIf="opciones.opcion2 === show"></app-panel-CSS>
    <app-panel-JavaScript *ngIf="opciones.opcion3 === show"></app-panel-JavaScript>
</div>